sup.footnoted {
vertical-align: super;
}

sup.footnoted a {
color: red;
font-family: inherit;
font-size: 80%;
margin-left: .2em;
}

#back-to-top {
cursor: pointer;
list-style-type: none;
text-indent: -16px;
}